config/.mono/
config/Kitware/
config/NuGet/
config/QtProject.conf
config/StardewValley/
config/Startup Company/
config/Trolltech.conf
config/Wolfram/
config/cef_user_data/
config/dconf/
config/dunst/
config/google-chrome/
config/gtk-2.0/
config/htop/
config/hub
config/inkscape/
config/libreoffice/
config/lighthouse/
config/lutris/
config/menus/
config/mimeapps.list
config/nordvpn/
config/pulse/
config/skypeforlinux/
config/startraders2/
config/thefuck/
config/transmission/
config/unity3d/
config/user-dirs.dirs
config/user-dirs.locale
config/vlc/
